<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ASCOM.QA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup><userSettings>
        <ASCOM.QA.Properties.Settings>
            <setting name="COMPort" serializeAs="String">
                <value />
            </setting>
            <setting name="trace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COMDescr" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ImplementsNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImplementsOffsets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Slots" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FilterNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>LP</string>
                        <string>UHC</string>
                        <string>OIII</string>
                        <string>Ha</string>
                        <string>Spectro</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FocusOffsets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Relays" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Camera</string>
                        <string>AstroEQ</string>
                        <string>Dew Heater</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BaseRelayID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BasePowerSerial" serializeAs="String">
                <value />
            </setting>
        </ASCOM.QA.Properties.Settings>
    </userSettings>
</configuration>
